<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="text-white">Login</h2>
      <form class="mt-4">
        <div class="form-group">
          <label for="loginUsername" class="fw-bold text-white">Username</label>
          <input
            type="text"
            class="form-control"
            id="loginUsername"
            placeholder="Enter your username"
          />
        </div>
        <div class="form-group mt-3">
          <label for="loginPassword" class="fw-bold text-white">Password</label>
          <input
            type="password"
            class="form-control"
            id="loginPassword"
            placeholder="Enter your password"
          />
        </div>
        <div class="form-check mt-3">
          <input
            type="checkbox"
            class="form-check-input"
            id="rememberMe"
            [(ngModel)]="rememberMe"
          />
          <label for="rememberMe" class="form-check-label text-white"
            >Remember me?</label
          >
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100 bg-danger">
          Login
        </button>
        <div class="text-end mt-2">
          <a href="" class="text-decoration-none text-black"
            >Forgot Password?</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
