/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
body {
    background-image: url(https://img.freepik.com/free-vector/background-luxury-minimalist-gradient-style-design_698780-700.jpg?size=626&ext=jpg&ga=GA1.1.1367788283.1701788940&semt=ais);
    background-repeat: no-repeat;
    background-size: cover
}